@import '../../theme/colors.scss';

.container {
  min-height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: $darkBlue;
}

@media screen and (max-width: 745px) {
  .container {
    min-height: calc(100vh - 176px);
  }
}
