@import '../../theme/colors.scss';

.container {
  min-height: calc(100vh - 128px);
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  color: $darkBlue;
  padding: 10px;
}

.loader {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 745px) {
  .container {
    min-height: calc(100vh - 176px);
  }
}
